
body {
    background-color: #27272b;
    color: #fff;
}
  
a {
    color: #fff;
}
  
div h1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.machines-container {
    display: flex;
    flex-wrap: wrap;
}

.machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 300px;
    border: 2px solid #191c1f;
    border-radius: 7%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2e3338;
}

.machine img {
    width: 50%;
    height: auto;
    margin-bottom: 7%;
}

.machine a {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: large;
}

.machine p {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.machineinfo a {
    margin-left: 10%;
}

.machineinfo img {
    margin-left: 20%;
    width: 20%;
}

.personnel-container {
    display: flex;
    flex-wrap: wrap;
}

.personnel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 300px;
    border: 2px solid #191c1f;
    border-radius: 7%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2e3338;
}

.personnel img {
    width: 50%;
    height: auto;
}

.personnel a {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: large;
}

.personnel p {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    background-color: #212529;
}

.card-header img {
    width: 60%;
}

.card button {
    margin-top: 3%;
}

.card-body img {
    width: 5%;
    margin-left: 1%;
}

.filter {
    margin-left: 1%;
}