{% extends "index.html" %}

{% block content %}
{% load static %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-header d-flex justify-content-between align-items-end">
          <h4>Nom: {{ machine.nom }}</h4>
          <a type="button" href="{% url 'machines' %}" class="btn" role="button"><img src="{% static 'computerApp/images/cross.png' %}"></a>
        </div>
        <div class="card-body">
          <p><strong>Id</strong> : {{ machine.id }}</p>
          <p><strong>Date de maintenance</strong> : {{ machine.maintenanceDate }}</p>
          <p><strong>Type</strong> : {{ machine.mach }}</p>
          <p><strong>Infrastructure</strong> : {{ machine.infra.nom }}</p>
          <p><strong>Etat actuel</strong> : {% if machine.maintenanceDate == today %}<img src="{% static 'computerApp/images/process.png' %}">{% elif machine.etat %}<img src="{% static 'computerApp/images/on.png' %}" alt="logo">{% else %}<img src="{% static 'computerApp/images/off.png' %}" alt="logo">{% endif %}</p>
          <div class="d-flex justify-content-between align-items-end">
            <form action="{% url 'delete_machine' machine.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger mt-3">Supprimer cette machine</button>
            </form>
            <form action="{% url 'toggle_machine' machine.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="machine_id" value="{{ machine.id }}">
              <button type="submit" class="btn 
              {% if machine.etat %}btn-outline-danger
              {% else %}btn-outline-success
              {% endif %} mt-3" {% if machine.maintenanceDate == today %}disabled{% endif %}> {% if machine.etat %}Eteindre{% else %}Allumer{% endif %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
