{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="filter">
    <h1>Liste des machines</h1>
    <form method="GET" class="input-group mb-3">
        <input class="text" class="form-vontrol" placeholder="Nom d'une machine..." aria-label="Search" aria-describedby="button-addon2" name="query">
        <button class="btn btn-outline-success" type="submit" id="button-addon2">Rechercher</button>
    </form>
    <div class="btn-group mb-3" role="group" aria-label="Filtre">
        <a href="{% url 'machines' %}" class="btn btn-secondary">Tous</a>
        <a href="?type=PC" class="btn btn-secondary">PC</a>
        <a href="?type=Mac" class="btn btn-secondary">Mac</a>
        <a href="?type=Switch" class="btn btn-secondary">Switch</a>
        <a href="?type=Serveur" class="btn btn-secondary">Serveur</a>
    </div>
    <div class="btn-group mb-3" role="group" aria-label="Filtre">
        {% for infra in infrastructures %}
            <a href="?infra={{ infra.id }}" class="btn btn-secondary">{{ infra.nom }}</a>
        {% endfor %}
    </div>
</div>
<hr>
{% if machines %}
<ul class="machines-container" id="allMachines">
    {% for machine in machines %}
    <li class="machine">
        <a>{{machine.nom}}</a>
        {% if machine.mach == "PC" %}
        <img src="{% static 'computerApp/images/PC.png' %}" alt="logo">
        {% elif machine.mach == "Mac" %}
        <img src="{% static 'computerApp/images/mac.png' %}" alt="logo">
        {% elif machine.mach == "Switch" %}
        <img src="{% static 'computerApp/images/switch.png' %}" alt="logo">
        {% elif machine.mach == "Serveur" %}
        <img src="{% static 'computerApp/images/server.png' %}" alt="logo">
        {% endif %}
        <div class="machineinfo">
            <a href="{% url 'machine-detail' machine.id %}" class="btn btn-primary">Details</a>
            {% if machine.maintenanceDate == today %}
                <img src="{% static 'computerApp/images/process.png' %}" title="Cette machine est actuellement en maintenance" alt="maj">
            {% elif machine.etat == True %}
                <img src="{% static 'computerApp/images/on.png' %}" title="Cette machine est opérationnelle" alt="on">
            {% else %}
                <img src="{% static 'computerApp/images/off.png' %}" title="Cette machine est éteinte" alt="off">
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>


{% else %}
<div class="alert alert-danger">
    Il n'y a pas de machine(s) qui correspond(ent) à votre filtre
  </div>
{% endif %}

{% endblock %}
