{% extends "index.html" %}

{% block content %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-header">
          <h4>Personnel</h4>
        </div>
        <div class="card-body">
          <p><strong>Nom</strong> : {{ personnel.nom }}</p>
          <p><strong>Prénom</strong> : {{ personnel.prenom }}</p>
          <p><strong>Num.Sécu</strong> : {{ personnel.num_secu }}</p>
          <form action="{% url 'delete_personnel' personnel.num_secu %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Virer :o</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
